@using Vidly.Models
@model IEnumerable<Vidly.Models.Customers>


@*in line style *@

@*end inline style*@
<h2>Customers</h2>
@if (Model.ToList().Count == 0)
{
    @Html.ActionLink("Create","New","Customers",new {@class= "btn btn-primary btn-lg" })<br/>
    <text>There isn't Any Customer In DataBase</text>
}
else
{
    @Html.ActionLink("Create", "New", "Customers", new { @class = "btn btn-primary btn-lg",@style="width:120px"})
    <table class="table border">
        <thead>
        <tr>
             <th class="font-weight-bold">customer</th>
             <th class="font-weight-bold">MembershipType</th>
        </tr>
        </thead>
        <tbody >
            @foreach (var customer in Model.ToList())
            {
                <tr>
                    <td >@customer.name</td>
                    <td >@customer.MembershipType.name</td>
                    <td>@Html.ActionLink("Update","Update","Customers",new {id = customer.id},null)</td>
                    <td>@Html.ActionLink("Delete","Delete","Customers", new { id = customer.id }, null)</td>
                    <td>@Html.ActionLink("Detials","Details","Customers", new { id = customer.id }, null)</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}